.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 50% 10% 10%;
  grid-row-gap: 20px;
  grid-column-gap:30px;
  grid-template-areas: 
  "header header"
  "trending-news weekly-countdown"
  "advertisement advertisement"
  "footer footer"
  ;
  justify-content: space-around;
}

.header{
  grid-area: header;
}
.trending-news{
  grid-area: trending-news;
  background-color: red;
}
.weekly-countdown{
  grid-area: weekly-countdown;
}
.advertisement{
  grid-area: advertisement;
  background-color: blue;
}
.footer{
  grid-area: footer;
}